.sidebar_option{
    display:flex;
    padding:5px;
    align-items: center;
    cursor:pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color:#525356;
}
.sidebar_option:hover{
    background-color:#FCE8E6;
    color:#D93025;
    font-weight:900;
}
.sidebar_option > .MuiSvgIcon-root{
    margin-left: 18px;
    font-size:20px;
    padding:2px;
} 
.sidebar_option>h4{
    flex:1;
    font-size: 14.5px;
    margin-left:18px;
    font-weight: 400;
}
.sidebar_option:hover > h4{
    font-weight:600;
}
.sidebar_option >p{
    display:none;
    font-weight: 500;
    font-size: 13.75px;
    margin-right: 6px;
}
.sidebar_option:hover >p{
display:inline;
}